apiVersion: v1
kind: Secret
metadata:
  name: spanbarn-secrets
  namespace: spanbarn-staging
type: Opaque
stringData:
  SPANBARN_API_KEY: REPLACE_WITH_SOPS_ENCRYPTED_VALUE
  SPANBARN_SESSION_SECRET: REPLACE_WITH_SOPS_ENCRYPTED_VALUE
  SPANBARN_BUGBARN_API_KEY: REPLACE_WITH_SOPS_ENCRYPTED_VALUE
  SPANBARN_SELF_API_KEY: REPLACE_WITH_SOPS_ENCRYPTED_VALUE
  SPANBARN_ENVIRONMENT: staging
  LITESTREAM_ACCESS_KEY_ID: REPLACE_WITH_SOPS_ENCRYPTED_VALUE
  LITESTREAM_SECRET_ACCESS_KEY: REPLACE_WITH_SOPS_ENCRYPTED_VALUE
  LITESTREAM_REPLICA_PATH: REPLACE_WITH_SOPS_ENCRYPTED_VALUE
